extends ../../layouts/default.pug

block main
  // Kết nối với tệp CSS
  link(rel="stylesheet", href="/css/paymentterms.css")
  main.privacy-content
    h1.payment-terms Điều Khoản Thanh Toán
    .policy-text
      p
        | Hướng dẫn mua hàng tại Topzone để tránh mua phải hàng không rõ nguồn gốc, hàng kém chất lượng. Mua đúng hàng tại Topzone.vn để nhận được đồng hồ chuẩn, chính hãng 100%.
      p
        | 1: Chỉ nên mua hàng ở những chi nhánh được đăng tải trên trang website duy nhất của chúng tôi tại:
        a(rel="noopener" target="_blank" href="https://www.topzone.vn") Topzone.vn
        | hoặc fanpage:
        a(rel="noopener" target="_blank" href="http://fb.com/topzone.kenhbanle") fb.com/topzone.kenhbanle
        | hoặc qua 2 Hotline:
        a(href="tel:0931892222") 093.189.2222
        | hoặc
        a(href="tel:0961395555") 096.139.5555
      p
        | 2: Yêu cầu nhân viên xuất hoá đơn của cửa hàng và giấy tờ đầy đủ, kèm thẻ bảo hành hoặc sổ bảo hành, hộp đựng đồng hồ, sách hướng dẫn chi tiết của hãng.
    .contact-info
      p Điện thoại: 093.189.2222 - 096.139.5555
      p Email: Topzone.donghothat@gmail.com
      address
        | Chi nhánh 1: 97 Trần Đại Nghĩa, HBT, Hà Nội
        br
        | Chi nhánh 2: 90 Lê Văn Sỹ, P11, Phú Nhuận, HCM
        br
        | Chi nhánh 3: 61 Quang Trung, P10, Gò Vấp, HCM
        br
        | Chi nhánh 4: 58 Trần Đăng Ninh, Cầu Giấy, Hà Nội
        br
        | Chi nhánh 5: 339 Lê Duẩn, Thanh Khê, Đà Nẵng
    .payment-methods
      h2 Hiện tại, Topzone.vn đang áp dụng 3 hình thức thanh toán phổ biến:
      section.payment-method
        h3 1: Thanh toán chuyển khoản
        p QUÝ KHÁCH VUI LÒNG CK QUA TÀI KHOẢN VIETCOMBANK:
        ul
          li Chủ tài khoản: Phùng Tiến Đạt
          li Số tài khoản: 3686689999
          li Chi nhánh: Nam Hà Nội
        p
          | Lưu ý: Chỉ nên chuyển khoản sau khi đội ngũ nhân viên của Topzone gọi điện xác nhận. Sau khi chúng tôi nhận tiền, Topzone sẽ tiến hành xử lý đơn hàng cho bạn, trường hợp bạn không nhận hàng với bất cứ lý do gì chúng tôi sẽ tiến hành hoàn tiền lại cho bạn (bạn chỉ phải trả cho chúng tôi 1 khoản phí nhỏ cho bên vận chuyển thu).
      section.payment-method
        h3 2: Thanh toán khi nhận hàng
        p
          | Đây là hình thức thuận tiện nhất dành cho khách hàng ở khắp mọi nơi trên lãnh thổ Việt Nam.
        ol
          li
            | Bước 1: Quý khách gọi điện tới số Hotline của công ty chúng tôi hoặc đặt hàng online ngay trên website Topzone.vn
          li
            | Bước 2: Topzone.vn sẽ tiến hành gọi điện để xác nhận đơn hàng sau đó sẽ tiến hành điền thông tin vào phiếu bảo hành và giao hàng.
          li
            | Bước 3: Quý khách kiểm tra hàng thật kỹ, kiểm tra đúng seri trên phiếu bảo hành và trên hộp đồng hồ, nếu thấy tem niêm phong của Topzone có dấu hiệu bị rách vui lòng gọi điện ngay cho chúng tôi để đối chiếu. Nếu kiểm tra hàng đúng chất lượng thì quý khách mới phải thanh toán tiền. Nếu bạn không hài lòng có thể từ chối nhận hàng.
        p
          | Đặc biệt khi nhận hàng, Quý khách được phép mở hàng ra và thử hàng ngay trên tay => duy nhất tại Topzone.
        p
          | Nếu phát hiện ra lỗi của nhà sản xuất, trong vòng 30 ngày kể từ ngày mua sản phẩm, khách hàng được phép đổi sang sản phẩm khác mới 100% với đầy đủ giấy tờ và phụ kiện đi kèm.
      section.payment-method
        h3 3: Thanh toán qua các ví điện tử
        p
          | Đây là hình thức thanh toán cực kỳ tiện lợi mà Topzone triển khai cùng công ty cổ phần Fundiin. Khách hàng chỉ cần thanh toán thành công là sẽ được Topzone gửi hàng tới tận tay.
    .commitment
      h2 Cam kết của Topzone như sau:
      p
        | Chúng tôi chỉ bán hàng chính hãng 100%, sản phẩm mới, nói không với hàng kém chất lượng, hàng nhái hàng giả. Nếu bạn hỏi mua hàng fake, hàng rep 1:1, hàng super fake thì chúng tôi sẽ từ chối phục vụ bạn. Xin cám ơn!
