.page
  .div
    footer.footer
      img.image-6(src="img/thumb.png")
      .h-tr-kh
        .text-wrapper-11 HỖ TRỢ KHÁCH HÀNG
        a.text-wrapper-12(href="/guidebuyonline") Hướng dẫn mua hàng online
        a.text-wrapper-13(href="/transactionconditions") Điều kiện giao dịch chung
        a.text-wrapper-14(href="/shippingpolicy") Chính sách giao hàng
        a.text-wrapper-15(href="/paymentguide") Hướng dẫn thanh toán
      .chnh-sch
        .text-wrapper-11 CHÍNH SÁCH CHUNG
        a.text-wrapper-12(href="/warrantypolicy") Chính sách bảo hành
        a.text-wrapper-13(href="/paymentterms") Điều khoản thanh toán
        a.text-wrapper-14(href="/privacypolicy") Chính sách bảo mật
        a.text-wrapper-15(href="/returnpolicy") Chính sách đổi trả
      .lin-h
        .text-wrapper-11 LIÊN HỆ HỖ TRỢ
        p.text-wrapper-12 Hotline 2: 0345126789
        p.text-wrapper-13 Hotline 1: 0987123456
        p.text-wrapper-14 Email: Topzonedemo123@gmail.com
      .theo-di
        .text-wrapper-11 THEO DÕI CHÚNG TÔI
        a(href="https://facebook.com" target="_blank")
          img.vector(src="svg/vector.svg" alt="Facebook")
        a(href="https://instagram.com" target="_blank")
          img.vector-2(src="svg/vector-4.svg" alt="Instagram")
        a(href="https://twitter.com" target="_blank")
          img.vector-3(src="svg/vector-3.svg" alt="Twitter")
        a(href="https://linkedin.com" target="_blank")
          img.vector-4(src="svg/vector-2.svg" alt="LinkedIn")
