include products-item.pug

mixin product-grid(products)
  link(rel="stylesheet", href="/css/product.css")
  section.trending-section(aria-labelledby="trending-title")
    h2#trending-title.section-title #{categoryName}
    .products-container
      .products-grid
        each item in products
          +product-item(item)
          