doctype html
html(lang="vi")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Đăng nhập
    link(rel="stylesheet" href="../css/signup.css")
  body
    .register-container
      .register-layout
        .image-column
          img.hero-image(src="https://cdn.builder.io/api/v1/image/assets/TEMP/338d77e4a2a9aab6d2759e601d3c679237826352df908de88089c303a298f7ed?placeholderIfAbsent=true&apiKey=f09d242d1ab24219b7bd88d8780e4a1c" alt="")
        .form-column
          form.registration-form(action="/user/login" method="POST")
            h1.form-title Đăng nhập
            
            .form-group
              label.visually-hidden(for="email") Email
              input#email.input-field(type="email" name="email" placeholder="Email" required)
            .form-group
              label.visually-hidden(for="password") Mật khẩu
              input#password.input-field(type="password" name="password" placeholder="Mật khẩu" required)

            button.submit-button(type="submit") ĐĂNG NHẬP
            
            .divider-container
              .divider-line
              span HOẶC
              .divider-line

            img.social-login(src="https://cdn.builder.io/api/v1/image/assets/TEMP/2bfa5d240d28b05ed3f8baad5ede93b8bba4d575f8881a183458764174ff14ab?placeholderIfAbsent=true&apiKey=f09d242d1ab24219b7bd88d8780e4a1c" alt="Social login options")
            
            .login-prompt
              span.login-text Bạn đã có tài khoản.
              a.login-link(href="/user/register") Đăng ký.
            .login-prompt
              span.login-text Trang Admin.
              a.login-link(href="/admin/auth/login") Admin.